.container {
    width: 100%;
}

.container .hero {
    background-color: rgb(153, 51, 153);
}

.hero .heroContainer {
    height: 110vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero .heroContainer .heroTxt {
    height: 73%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.heroContainer .heroTxt .premium h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.heroContainer .heroTxt .title h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 72px;
}

.heroContainer .heroTxt .description h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.heroContainer .heroTxt .btnArrea .btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 500px;
    color: #fff;
    background-color: #000;
    padding: 14px 32px;
}

.heroContainer .heroTxt .btnArrea .btn:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

.heroContainer .heroTxt .cgv a {
    text-decoration: underline;
    color: #fff;
}

.heroContainer .heroTxt .cgv p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.hero .img {
    height: 400px;
    width: 404px;
    background-image: url("..//..//assets/hero.jpg")
}


/* Media */

@media only screen and (min-width: 766px) and (max-width: 1024px)

/* @media screen and (max-width: 700px)  */
    {
    .container .hero {
        height: auto;
    }

    .hero .heroContainer {
        height: auto;
        flex-direction: column;
        align-items: start;
    }

    .heroContainer .heroTxt .title h1 {
        font-size: 60px;
        font-weight: 600;
        line-height: 72px;
        margin-bottom: 15px;
    }

    .heroContainer .heroTxt .premium h3 {
        font-size: 12px;
        margin-left: 130px;
        margin-bottom: 15px;
    }

    .heroContainer .heroTxt .description h2 {
        font-size: 22px;
        font-weight: 500;
        line-height: 36px;
        margin-bottom: 25px;
    }

    .hero .heroContainer .heroTxt {
        padding-top: 50px;
        height: 100%;
    }

    .heroContainer .heroTxt .btnArrea .btn {
        padding: 14px 32px;
        margin-bottom: 20px;
    }

    .hero .heroImg {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero .img {
        margin-top: 40px;
        margin-bottom: 35px;
    }
}