/* Footer */
.footer {
    background-color: #000;
}

.footer .footerContainer .footerHead {
    padding: 90px 70px;
}

.footer .footerHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .footerHead img {
    width: 135px;
    cursor: pointer;
}

.footer .footerHead h2 {
    font-size: 13px;
    color: #919496;
    font-weight: 700;
    line-height: 24px;
}

.footerHead .item .link {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.footerHead .item .link li {
    margin-top: 15px;
}

.item .link li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
}

.item .link li a:hover {
    color: #1ed760;
}

.footerHead .itemReseau {
    display: flex;
    flex-direction: row;
}

.footerHead .item .imgWrapper {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #222326;
    border-radius: 50%;
    display: flex;
    margin: 0 5px;
}

.footerHead .item .imgWrapper i {
    position: absolute;
    color: #fff;
    font-size: 25px;
    width: 60px;
    height: 60px;
    top: 12px;
    right: -23px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footerHead .item .imgWrapper i:hover {
    color: #1ed760;
}

.footerHead .item .reseau {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 4px;
    top: 4px;
    border-radius: 50%;
    background-color: #fff;
    padding: 2px;

}

.footer .footerBottom {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer .footerBottom .link {
    width: 57%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer .footerBottom h3 {
    color: #919496;
    font-size: 11.5px;
    font-weight: 400;
    cursor: pointer;
}

.footer .footerBottom h3:hover {
    color: #1ed760;
}

.copy {
    color: #919496;
    font-size: 11.5px;
}

/* Media */

@media only screen and (min-width: 766px) and (max-width: 1024px) {
    * {
        overflow: hidden;
    }

    .footer .footerContainer .footerHead {
        padding: 90px 0px;
    }

    .footer .footerBottom .link {
        width: 80%;
    }
}

@media only screen and (min-width: 150px) and (max-width: 765px) {
    .footer .footerHead {
        flex-direction: column;
    }

    .footer .footerContainer .footerHead {
        padding: 30px 15px;
    }

    .footer .footerContainer .footerHead .item img {
        height: 28px;
        width: 89px;
    }

    .footer .footerBottom .link {
        width: 100%;
        flex-direction: column;
        align-items: start;
    }
}