.download {
    height: 110vh;
    width: 100%;
    background-image: url("..//..//assets/free_lie_circles.svg");
    background-color: rgb(41, 65, 171);
}

.download .container {
    width: 90%;
    height: 70%;
    padding-top: 90px;
    margin: 0 auto;
    color: #1ed760;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.download .container .free h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;

}

.download .container .title h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
}

.download .container .description h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.download .container .btnArrea .btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
    border: 2px solid #1ED760;
    border-radius: 500px;
    color: #2941ab;
    background-color: #1ED760;
    padding: 14px 32px;
    text-transform: uppercase;
}

.download .container .btnArrea .btn:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

/* Media */

@media only screen and (min-width: 766px) and (max-width: 1024px) {

    /* @media screen and (max-width: 700px)  */


    .download {
        background-image: url("..//..//assets/lie_circles-tablet.svg");
        background-position: center center;
        background-size: auto 181%;
        background-repeat: no-repeat;
    }

    .download {
        height: 100vh;
    }

    .download .container {
        align-items: center;
        height: 65vh;
        justify-content: space-around;
    }

    .download .container .free h3 {
        font-size: 12px;
    }

    .download .container .title h1 {
        font-size: 60px;
        font-weight: 600;
        line-height: 72px;
    }

    .download .container .description h2 {
        font-size: 22px;
        font-weight: 500;
        line-height: 36px;
    }

    .download .container .description h2 br {
        display: none;
    }


}